@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Poppins:wght@200;300;400;500&display=swap');
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px;
}

.todo-header{
  width: 320px;
  height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #4649FF;
}

.todo-header span{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  display: flex;
  line-height: 60px;
  justify-content: center;
}

.todo-container{
  width: 310px;
  height: 50px;
  margin-top: 5px;
  border-color: #4649FF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: solid;
  padding: 5px;
}

.todo-item{
  width: 100%;
  height: 35px;
  background-color: #cccdff;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.todo-item .title{
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #0c10ff;
}
.todo-item .done-bt-container{
  background-color: #d39ffe;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 4px;
  position: absolute;
  right: 45px;
  /* background-color: rgb(44, 161, 44); */
}
.todo-item .delete-bt-container{
  width: 35px;
  height: 25px;
  background-color: rgb(248, 121, 93);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0c10ff;
  position: absolute;
  right: 5px;
}